services:
  - type: web
    name: nabdh-backend
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    region: oregon
    healthCheckPath: /api/categories
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: LOG_CHANNEL
        value: stderr
      - key: SESSION_DRIVER
        value: database
      - key: CACHE_DRIVER
        value: database
      - key: QUEUE_CONNECTION
        value: database

